<!doctype html>
<html lang="en">
<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="NarrowItDownApp">
<div ng-controller="NarrowItDownController as ctrl" class="container">
  <h1>Narrow Down Your Chinese Menu Choice</h1>

  <div class="form-group">
    <input ng-model="input" type="text" placeholder="search term" class="form-control">
    <button ng-click="ctrl.search(input)" class="btn btn-primary narrow-button">Narrow It Down For Me!</button>
  </div>

  <!--<div>-->
    <!--<p>{{ctrl.found}}</p>-->
  <!--</div>-->

  <!-- Bonus loader (see Bonus section of the assignment) -->
  <!--<items-loader-indicator></items-loader-indicator>-->

  <!-- found-items should be implemented as a component -->
  <!--on-remove="ctrl.removeItem(index)"-->
  <found-items found = "ctrl.found" on-remove ="ctrl.removeItem(index)"></found-items>
</div>


<script src="lib/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
